<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontview/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontview/css/style.css' %}">
    {% block title %}<title>Document</title>{% endblock title %}
</head>
{% block bg_img %}<body>

  {% include 'frontview/navbar.html' %}
    



    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% block msg %}{% endblock msg %}
        </div>
      </div>
  
      <div class="row">
        {% block side %}{% endblock side %}
      </div>
    </div>
    {% block content %}{% endblock content %}



    
    {% include 'frontview/js_path.html' %}
</body>{% endblock bg_img %}
</html>