<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block title %}<title>Document</title>{% endblock title %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'deleted_items' %}">Soft Deleted Data</a>
            </li>
            {% comment %} <li class="nav-item active">
              <a class="nav-link" href="{% url 'q_object' %}">Q Data</a> {% endcomment %}
            </li>
          </ul>
        </div>
    </nav>
    <br><br>
    {% block content %}{% endblock content %}

    <script src="{% static 'js/bootstrapbundlemin.js' %}"></script>
    <script src="{% static 'js/bootstrapmin.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>